@import "tailwindcss";

*, *::before, *::after {
  box-sizing: border-box;
}

:root {
  --background: #ffffff;
}

@theme inline {
  --color-main: #B9FF66;
  --color-dark: #191A23;
  --color-gray: #F3F3F3;

  --color-background: var(--background);
  --font-mono: var(--font-space-grotesk);
}

body {
  background: var(--background);
  color: #000000;
  font-family: var(--font-space-grotesk);
  padding: 60px 100px 0px 100px;
}